<!DOCTYPE>
<html>
<head>
  <title>Login page </title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <form>
            <div class="form-group">
                <label for="userid">User ID</label>
                <input type="userid" class="form-control" id="email" aria-describedby="emailHelp" placeholder="example.hSenid@gmail.com">
               
            </div>
            <div class="form-group">
                <label for="password">Password*</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
                <small id="Password help" class="form-text">Forgot Password?</small>
            </div>
            <button type="continue" class="btn">Continue</button>

            
            </form>
        </div>
        </div>
    </div>
</body>


</html>
