form{
    border: 3px;

}

.form-control{
    width:400px;
    padding:10px;
}

.form-text{
    color:  white;
    margin: 20px 0;
    

    
}

.btn{
    width: 200px;
    padding: 10px;
    background-color:white;
    margin-left:100px;
    color : rgb(147, 22, 26);  
    border : 2px solid rgb(147, 22, 26); 
    border-radius : 5px; 
    font-weight : bold;
    cursor: pointer;
}

.container{
    height:100vh;
    background: url('/assets/images/login-background-picture.jpg');
    background-size: cover;
    background-opacity: 0.6;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 100px;


}
