<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <div class="login-form">
  <form class="p-fluid" >
    <label for="userid">User Id</label><br>
    <input type="text"  id="userid" name="userid"> <br>
    <label for="password" >Password</label><br>
    <input type="text" id="password" name="password"> <br>
    <a href="#" class="forgot-password">Forgot Password?</a><br>

   
   



    <button type="submit">Continue</button> <br>  
  </form>
</div>
</body>
</html>
