.login-form{
    margin-top: 10%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8fafb;
    max-width: 400px;
    
  
}

.p-field{
    margin-bottom: 1.5rem;

}

.custom-input{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button{
    
    margin-left: 150px;
}

.forgot-password{
    margin-left: 10px;
    margin-top: 10px;
}

.for-text{
    font-size: small;
    margin-left: 200px;;
}

.background-image{
    background-image: url('/assets/images/background-picture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    // filter: blur(5px);
    // -webkit-filter: blur(5px);
    opacity: 0.5;
}

