<div class="grid-nogutter container">
    <div class="col-12">
      <nav id="sidebarMenu" class="p-col-12 p-md-3 p-lg-2 p-m-0 p-pt-4">
        <div class="position-sticky">
          <ul>
            <li>
              <a aria-current="page" href="#">
                <div class="icon-text-container">
                  <i class="pi pi-home"></i>
                  <span>Dashboard</span>
                </div>
              </a>
            </li>
            <li>
              <a aria-current="page" href="#">
                <div class="icon-text-container">
                  <i class="pi pi-file"></i>
                  <span>CVs</span>
                </div>
              </a>
            </li>
            <li>
              <a aria-current="page" href="#">
                <div class="icon-text-container">
                  <i class="pi pi-briefcase"></i>
                  <span>Interviews</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>    
    </div>
  </div>
  
  