<div class="row flex flex-wrap">
    <div class="cards">
        <a [routerLink]="['/personal-profile']" [queryParams]="{'candidateId': candidate.id, 'jobId': jobId}" *ngFor="let candidate of shortlisted">
            <p-panel [toggleable]="true" class="card" [collapsed]="true">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center gap-2">
                        <span class="font-bold">
                            {{ candidate.name }} 
                        </span>
                    </div>
                </ng-template>
    
                <div> 
                    <div class="m-0 details">
                        <div class="detail">
                            <div class="subtopic contact">Contact:</div>
                            <div class="subcontent">{{ candidate.contact }}</div>
                            <!-- <div class="subcontent"><a href="tel:{{ candidate.contact }}">{{ candidate.contact }}</a></div> -->
                        </div>
                        <div class="detail">
                            <div class="subtopic email">Email:</div>
                            <div class="subcontent"><a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a></div>
                        </div>
                        <div class="detail" *ngIf="candidate.role_Id===2 || candidate.role_Id ===3">
                            <div class="subtopic marks">Avg marks:</div>
                            <div class="subcontent">{{ candidate.testmark}}</div>
                        </div>
                    </div>
                    <div class="view-cv">
                        <a href="{{ candidate.cv }}" target="_blank">View CV</a>
                    </div>
                </div>
            </p-panel>
        </a>
    </div>
</div>