.card-link {
    text-decoration: none;
    color: inherit;
}
.card-link:hover {
    color: rgb(142, 133, 133);
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}








// .cards{
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     width: 30rem;
//     margin-top: 20px;
//     margin-bottom: 10px;   
// }

// .details{
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     margin-top: 10px;
//     font-size: 13.7px;
// }
// .card{
//     // width: 35rem;
//     margin-bottom: 10px;
//     font-size: 20px;
//     font-weight: 350;
// }

// .view-cv{
//     display: flex;
//     flex-direction: row;
//     justify-content: end;
//     margin-top: 5px;
//     font-size: 12px;
// }

// .subtopic{
//     font-weight: 320;
// }
// .contact{
//     margin-right: 20px;
// }
// .email{
//     margin-right: 39px;
// }
// .marks{
//     margin-right: 6px;
// } 

// .subcontent{

// }

// .detail{
//     margin-bottom: 3px;
//     display: flex;
//     flex-direction: row;
// }

// .row{
//     // display: flex;
//     // flex-wrap: wrap;
//     // gap: 1rem;
// }

// .card-link {
//     text-decoration: none;
//     color: inherit;
// }

// .card-link:hover {
//     // text-decoration: wavy;
//   }