<div class="grid">
    <div class="col-12">
        <!-- <div class="w-30rem"> -->
            <p-panel [toggleable]="true" [collapsed]="true" class="mt-2" *ngFor="let candidate of shortlisted">
                <ng-template pTemplate="header">                    
                    <div>
                        <span class="font-bold">
                            <a [routerLink]="['/admin/personal-profile']" class="card-link" [style]="'color'" [queryParams]="{'candidateId': candidate.id, 'jobId': jobId}">
                                {{ candidate.name }}
                            </a>                             
                        </span>
                        <!-- <span class="font-bold">{{ candidate.interviewDate }}</span> -->
                    </div>
                </ng-template>

                <div class="text-sm">
                    <div class="grid">
                        <div class="col-4">
                            Contact:
                        </div>
                        <div class="col-8">
                            {{ candidate.contact }}
                        </div>
                        <!-- <div class="subcontent"><a href="tel:{{ candidate.contact }}">{{ candidate.contact }}</a></div> -->
                    </div>
                    <div class="grid">
                        <div class="col-4">
                            Email: 
                        </div>
                        <!-- using ToolTip and ellipsis in CSS(in text-overflow class) -->
                        <div class="col-8 text-overflow" pTooltip="{{ candidate.email }}" tooltipPosition="bottom">
                            <a href="mailto:{{ candidate.email }}">{{ candidate.email }}</a>
                        </div>
                    </div>
                    <div class="grid" *ngIf="candidate.role_Id===2 || candidate.role_Id ===3">
                        <div class="col-4">
                            Avg mark: 
                        </div>
                        <div class="col-8">
                            {{ candidate.testmark}}
                        </div>
                    </div>
                    <div class="grid">
                        <!-- <div class="col-12 text-right">
                            <button pButton pRipple class="p-button-success" label="View CV"></button>
                        </div> -->
                        <div class=" col-12 text-xs text-right">
                            <a href="{{ candidate.cv }}" target="_blank">View CV</a>
                        </div>
                    </div>
                </div>

            </p-panel>
        <!-- </div> -->
    </div>
</div>
