.card-link {
    text-decoration: none;
    color: inherit;
}
.card-link:hover {
    color: rgb(142, 133, 133);
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}