.customized-card {
    background-color: var(--surface-200);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 5.6rem;
}

.grid-custom{
    margin-top: -1.3rem;
    // margin-top: -3rem;
    // margin-bottom: -2rem;
}

.location{
    // padding-top: 1rem;
    margin-top: 1rem;
    display: flex;
}

.candidate-number{
    padding-top: 1rem;
    margin-bottom: -1rem;
    display: flex;
}

.space{
    margin-top: 1.5rem;
}