<p-pickList 
    [source]="sourcecandidates" 
    [target]="targetcandidates" 
    sourceHeader="Available" 
    targetHeader="Selected" 
    [dragdrop]="true" 
    [responsive]="true" 
    [sourceStyle]="{ height: '30rem' }"
    [targetStyle]="{ height: '30rem' }" 
    filterBy="name" 
    sourceFilterPlaceholder="Search by name" 
    targetFilterPlaceholder="Search by name" 
    breakpoint="1400px">
        <ng-template let-candidate pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
                <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">
                        {{ candidate.name }}
                    </span>
                    <div class="flex align-candidates-center gap-2">
                        <i class="pi pi-tag text-sm"></i>
                        <span>
                            {{ candidate.category }}
                        </span>
                    </div>
                </div>
                <span class="font-bold text-900">
                    {{ '$' + candidate.price }}
                </span>
            </div>
        </ng-template>
</p-pickList>