<div class="flex flex-column">
    <app-navbar></app-navbar>
    <div class="flex flex-row">
        <app-sidebar></app-sidebar>
        <div class="flex flex-column mx-6 mt-3 w-screen">
            <div class="flex flex-row flex-wrap w-full">
                <div class="mb-4">
                    <h2 class="head-topic">Applicants List</h2>
                    <p class="opacity-70 -mt-3">Here are all job Applicants</p>
                </div>
                <div class="w-full">
                    <p-table
                    #dt2
                    [value]="customers"
                    dataKey="id"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [loading]="loading"
                    [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['name', 'contact', 'university', 'degree', 'skills', 'gpa', 'workExperience', 'cv', 'status', 'verified']"
                    [tableStyle]="{ 'min-width': '75rem' }"
                >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>University</th>
                        <th>Degree</th>
                        <th>Skills</th>
                        <th>GPA</th>
                        <th>Work Experience</th>
                        <th>CV</th>
                        <th>Status</th>
                        <!-- <th>Verified</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.contact }}</td>
                        <td>{{ customer.university }}</td>
                        <td>{{ customer.degree }}</td>
                        <td>{{ customer.skills }}</td>
                        <td>{{ customer.gpa }}</td>
                        <td>{{ customer.workExperience }}</td>
                        <td><a href="{{ customer.cv }}" target="_blank">View CV</a></td>
                        <td>
                            <!-- <p-tag [value]="customer.status"></p-tag> -->
                        </td>
                        <!-- <td>
                            <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="10">No customers found.</td>
                    </tr>
                </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>




