<div class="flex flex-column">
    <app-navbar></app-navbar>
    <div class="flex flex-row">
        <app-sidebar></app-sidebar>
        <div class="flex flex-column mx-4 mt-3 w-screen">
            <div>
                <!-- <div class="position-head">{{ position }}</div> -->
            </div>
            <p-tabView>
                <p-tabPanel header="Applicants"> 
                    <div class="flex flex-row flex-wrap w-full">
                        <div class="mb-2">
                            <h2 class="head-topic">Applicants List</h2>
                            <!-- <p class="opacity-70 -mt-3">Here are all job Applicants</p> -->
                        </div>
                        <div>
                            <div class="mb-7">
                                <app-applicants-table [roleId]="0"></app-applicants-table>
                                <!-- <app-applicant-table></app-applicant-table> -->                        
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Rejected">
                    <ng-template pTemplate="content"> 
                        <div class="flex flex-row flex-wrap w-full">
                            <div class="mb-2">
                                <h2 class="head-topic">Rejected List</h2>
                            </div>
                            <div>
                                <div>
                                    <app-applicants-table [roleId]="7"></app-applicants-table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-tabPanel>            
            </p-tabView>
                        
        </div>
    </div>
</div>




