.head-topic{
    font-size: 26px;
    font-weight: bold;
    // color: rgb(130, 65, 65);
    // margin-bottom: 20px;
}

.one-table{
    margin-top: 20px;
}

.position-head{
    font-size: 34px;
    font-weight: bold;
    // margin: 15px 10px;
    margin-left: 1.5rem;
    margin-top: 17px;
    margin-bottom: 18px;
    color: rgb(46, 44, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.floating-card-container {
    position: fixed;
    top: 10%;
    right: 26rem; 
    z-index: 1000; /* Make it appears on top of other elements */
    display: flex;
    flex-direction: column;
    opacity: 0.76;
    // gap: 1rem;
}
