<!-- this component is not used in the application-->
<div class="w-full">
    <p-table
    #dt2
    [value]="customers"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['name', 'contact', 'degree', 'skills', 'workExperience', 'cv', 'status', 'verified']"
    [scrollable]="true"
    scrollDirection="horizontal"
    [tableStyle]="{ 'min-width': '75rem' }"
    >

    <ng-template pTemplate="caption">
        <div class="flex justify-content-between items-center">
        <div>
            <div class="position-head">{{ position }}</div>
        </div>
        <div>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="filterGlobal($event, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr class="fixed-height-row">
            <th class="column column-name">Name</th>
            <th class="column column-contact">Contact</th>
            <th class="column column-date">Available Date</th>
            <th class="column column-degree">Degree</th>
            <th class="column column-skills">Skills</th>            
            <th class="column column-workExperience">Work Experience</th>
            <th class="column column-skills">Reason</th>
            <th class="column column-comment">Comments</th>
            <th class="column column-action">Action</th>            
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-customer>
        <tr class="fixed-height-row">
            <td>                
                {{ customer.name }}
                <div class="view-cv">
                    <a href="{{ customer.cv }}" target="_blank">View CV</a>
                </div>
            </td>
            <td>{{ customer.contact }}</td>
            <td>{{ customer.available_Date }}</td>
            <td>{{ customer.degree }}</td>
            <td>{{ customer.skills }}</td>
            <td class="experience">{{ customer.experience }}</td>
            <td>{{ customer.reason }}</td>
            <td>
                <!-- {{ customer.comment }} -->
                <div>
                    <!-- id="comment-{{ customer.id }}" not neccessary i guess -->
                    <textarea 
                        id="comment-{{ customer.id }}" 
                        name="comment" 
                        class="comment" 
                        rows="4" 
                        cols="20" 
                        [(ngModel)] = "customer.comment"
                        #comment="ngModel" required
                        appMaxWords 
                        [maxWords]="10"
                        (wordLimitExceeded)="handleWordLimitExceeded(customer.id, $event)"
                        placeholder="Enter your comment (max 20 words)"
                        [disabled]="!(checkCommentExist(jobId, customer.id))"
                    ></textarea>
                    <p-button 
                    icon="pi pi-check" 
                    [rounded]="true" 
                    [text]="true" class="small-button" 
                    (click)="submitComment(customer)" 
                    />
                    <!-- <p-button 
                    icon="pi pi-check" 
                    [rounded]="true" 
                    [text]="true" class="small-button" 
                    (click)="submitComment(customer)" 
                    *ngIf="!buttonClicked.has(customer.id) && (checkCommentExist(jobId, customer.id) | async)" 
                    /> -->
                    <div *ngIf="customer.commentExceeded" class="error-message">Word limit exceeded.</div>
                </div>
            </td>
            <td>
                <div class="status">{{ showStatus(customer.role_Id) }} </div>
                <p-confirmDialog class=""></p-confirmDialog> 
                <div class="button-container">                  
                  <p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" class="accept-button small-button" (click)="updateRoleId(customer.id, 1)"></p-button>
                  <p-button icon="pi pi-times" [rounded]="true" severity="danger" class="remove-button small-button" *ngIf="customer.role_Id===7" (click)="confirmDelete(customer.id)"></p-button>                  
                  <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" class="remove-button small-button" *ngIf="customer.role_Id===0" (click)="updateRoleId(customer.id, 7)"></p-button>
                  <!-- <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" class="remove-button small-button" (click)="updateRoleId(customer.id, 7)" *ngIf="!isButtonHidden(customer.id)"></p-button> -->
                </div>
            </td>                          
            <!-- <td>
                <i class="pi" [ngClass]="{ 'text-green-500 pi-check-circle': customer.verified, 'text-red-500 pi-times-circle': !customer.verified }"></i>
            </td> -->
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr class="fixed-height-row">
            <td colspan="10">No applicants found for this position.</td>
        </tr>
    </ng-template>
    </p-table>
</div>



<!-- <p-table [value]="customers" [scrollable]="true" scrollHeight="400px" styleClass="mt-3">
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:200px" pFrozenColumn>Name</th>
            <th style="min-width:100px">Id</th>
            <th style="min-width:200px">Country</th>
            <th style="min-width:200px">Date</th>
            <th style="min-width:200px">Company</th>
            <th style="min-width:200px">Status</th>
            <th style="min-width:200px">Activity</th>
            <th style="min-width:200px">Representative</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td pFrozenColumn>{{customer.name}}</td>
            <td style="min-width:100px">{{customer.name}}</td>
            <td>{{ customer.contact }}</td>
            <td>{{ customer.available_Date }}</td>
            <td>{{ customer.degree }}</td>
            <td>{{ customer.skills }}</td>
            <td class="experience">{{ customer.experience }}</td>
            <td>{{ customer.reason }}</td>
        </tr>
    </ng-template>
</p-table> -->