//this specific-style class not used
.specific-styles{
    :host ::ng-deep .p-fileupload-content {
        background-color: rgb(249, 246, 241);
        border: none;
    }
}
.p-fileupload-content{
    :host ::ng-deep .p-fileupload-content {
        background-color: rgb(249, 246, 241);
        border: none;
    }
}

.p-fluid {
    flex-direction: column;
    align-items: center;
    // padding-left: 10rem;
    padding: 2rem 2rem;
    justify-content: center;
    // height: 100%;
    padding-bottom: 30px;
}

.stepper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: var('--blue-100');
}

.step-content{
    background-color: rgb(249, 246, 241);
    padding-top: 2rem;
    padding-bottom: 4rem;
    padding-left: 5rem;
}

// doesnt apply
.stepper-panel{
    width: 100%;
}

.topic{
    font-size: 15px;
    margin-bottom: 0;
    margin-left: 6px;
    margin-top: 15px;
}

.error-message{
    color: red;
    font-size: 13.3px;
    margin-left: 6px;
}

.avail-date{
    margin-bottom: 4px;
}

.name,.address,.email,.phone,.University,.Other-University,.skills,.work,.degree,.reason,.github,.linkedin,.availabledate{
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom:10px ;
    margin-top: 5px;
    // margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 90%;   
}

.deg-topic{
    font-size: 15px;
    margin-bottom: 0;
    // margin-left: 6px;
    margin-top: 15px;
}

.h1-form{
    color: rgb(91, 78, 80);
    font-style: inherit;
    padding-top: 2rem;
    //padding-left: 200px;
}


.p-NameField{
    display: flex;
    flex-direction: row;
}

.p-header{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #dab7b7;
}

.year{
    font-size: 10px;
    font-style: italic;
}

.from-year{
    margin-right: 20px;
}

.form-style{
    //width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 251, 244);   //(255, 251, 244)
}

.card-body{
    // margin: 10px;
    margin-top: 4px;
    border: 1px solid rgb(168, 168, 168);
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 80%;
    border-radius: 8px;
}

.page-content{
    margin: 30px;
    height: 140vh;
}


small {
    margin-left: 10px;
    color: red;
}

.button{
    padding: 10px;
    padding-top: 25px;
    width: 120px;
    display: flex;
    margin-left: auto;
    margin-right: 32rem;
}

.top-overlay {
    width : 100%;
    z-index: 10;
    margin-top: -1.5rem;
    margin-left: 0.5rem;
}