<nav class="navbar navbar-light custom-navbar">
    <!-- <img src="/assets/images/lb_icon.png" alt="icon" class="d-inline-block navbar-icon"> -->
    <div class="navbar-alignment">
        <img src="/assets/images/lb_icon.png" alt="icon" class="d-inline-block navbar-icon">
        <!-- <div class="navbar-left">
            <a href="#" class="d-inline-block mb-0 custom-font">Dashboard</a>
            <a class="d-inline-block mb-0 custom-font">Recruitments</a>
        </div> -->
        <div class="navbar-right">
            <span class="profile-name">Name</span>
            <a class="d-inline-block mb-0 custom-font">Logout</a>
        </div>
    </div>
</nav>

