.head-topic{
    font-size: 30px;
    font-weight: bold;
    color: rgb(48, 48, 48);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.apply-height{
    height: 100%;
    min-height: 65vh;
}

.column-set-1{
    background-color: #d9f1ec;  // #EAECEC    #dcf5f0
}

.column-set-2{
    background-color: #e4f3ef;  // #dfedea     #dfedea 
    // height: 100%;
    // min-height: 80vh;
    // margin-bottom: 20px;
}

.column-title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 1.5rem;
}

