<div class="flex flex-column">
    <app-navbar></app-navbar>
    <div class="flex flex-row">
        <app-sidebar></app-sidebar>
        <div class="grid ml-3 mt-1 mr-3">
            <div class="col-12">
                <div class="grid">
                    <div class="col-12">
                        <div class="mb-3">
                            <h2 class="head-topic">{{position}} - Interview Hierarchy </h2>                
                        </div>                
                    </div>
                </div>
                <div class="grid apply-height">
                    <div class="col-3 column-set-2">
                        <div class="column-title">1<sup>st</sup>&nbsp; Interview</div>
                        <app-shortlisted-card [roleId]=1 (jobIdChange)="handleJobIdChange($event)"></app-shortlisted-card>
                    </div>
                
                    <div class="col-3 column-set-1">
                        <div class="column-title">2<sup>nd</sup>&nbsp; Interview</div>
                        <app-shortlisted-card [roleId]=2></app-shortlisted-card>
                    </div>
                
                    <div class="col-3 column-set-2">
                        <div class="column-title">3<sup>rd</sup>&nbsp; Interview</div>
                        <app-shortlisted-card [roleId]=3></app-shortlisted-card>
                    </div>
                
                    <div class="col-3 column-set-1">
                        <div class="column-title">Offered</div>
                        <app-shortlisted-card [roleId]=6></app-shortlisted-card>
                    </div>
                </div>  
            </div>
        </div>              
    </div>
</div>




<!-- <div class="flex flex-column">
    <app-navbar></app-navbar>
    <div class="flex flex-row">
        <app-sidebar></app-sidebar>
        <div class="flex flex-column mx-6 mt-3 w-screen">
            <div class="flex flex-row flex-wrap w-full">
                <div class="mb-3">
                    <h2 class="head-topic">{{position}} - Interview Hierarchy </h2>                
                </div>
                <div>
                </div>
            </div>
            <div class="grid">
                <div class="col-3 int1">
                    <div class="column-1">Interview-1</div>
                    <app-shortlisted-card [roleId]=1 (jobIdChange)="handleJobIdChange($event)"></app-shortlisted-card>
                </div>

                <div class="col-3 int2">
                    <div class="column-1">Interview-2</div>
                    <app-shortlisted-card [roleId]=2></app-shortlisted-card>
                </div>

                <div class="col-3 int1">
                    <div class="column-1">Interview-3</div>
                    <app-shortlisted-card [roleId]=3></app-shortlisted-card>
                </div>

                <div class="col-3 int2">
                    <div class="column-1">Offered</div>
                    <app-shortlisted-card [roleId]=6></app-shortlisted-card>
                </div>
            </div>
        </div>
    </div>
</div> -->
