<div class="grid-nogutter">
    <div class="col-12">
        <app-navbar></app-navbar>
        <div *ngIf = "isJobLoaded" class="ml-5">
            <div class="flex flex-row">
                <h1 class="ml-0">{{job?.title}}</h1>
                <div class="applly-button ml-auto mt-5 mr-7">
                    <p-button label="Apply for this Job" [text]="true" [raised]="true" severity="secondary" routerLink = '/form' [queryParams]="{'jobId' : job?.id}"/>
                </div>
            </div>
            <div class="flex flex-row">
                <i class="fa-solid fa-earth-americas" style="color: #000000;"></i>
                <span class="ml-2">{{job?.location}} | {{job?.department}}</span>
                <i class="fa-solid fa-user-group ml-5 mr-2" style="color: #000000;"></i>
                <span>{{job?.noOfAvailablePositions}} Position Available</span>
            </div>
            <div [innerHTML]="job?.description"></div>
        </div>
    </div>
</div>

