.name{
    text-decoration: none;    
}
.name:hover{
   color: rgb(55, 53, 53);     
}

.no-data{
    margin-top: 100px;
    font-size: 18px;
    font-weight: bold;
}

// without using grid to action buttons
.button-container{
    display: flex;
}

.small-button .p-button {
    padding: 0.5rem 0.5rem; 
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    // height: auto; 
    // width: auto; 
}

.column-name{
    width: 180px;
}
.column-contact{
    width: 135px;
}
.column-action{
    width: 150px;
}
.column-degree {
    width: 140px;
}
.column-skills {
    width: 150px;
}
.column-muliti-select{
    width: 120px
}










// .column-workExperience {
//     width: 100px;
// }
// .column-comment {
//     width: 150px;
// }
// .column-date {
//     width: 130px;
// }

// .fixed-height-row th, .fixed-height-row td {
//     height: 100%; 
//     // display: flex;
//     align-items: center;
// }

// .popup{
//     // display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     // justify-content: center;
//     height: 100%;
// }

// .experience{
//     display: flex;
//     text-align: center;
// }

// .view-cv{
//     margin-top: 10px;
//     font-size: 13px;
// }

// .action-button{
//     // display: flex;
//     // flex-direction: row;
// }

// .fixed-table{
//     font-size: 10px;
// }

// .column {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }