$side-bar-width: 170px;
$nav-bar-height: 55px;

.container{
    margin-top: 0px;
    width: 100%;
}

.search-input {
    font-size: 16px; 
    border-width: 0.5px; 
    border-color: var(--red-50); 
    z-index: 4;
}


.custom-search-button {
    // background-color: var(--red-600); 
    // color: #ffffff;
}

.custom-search-button .pi-search {
    color: #ffffff; /* Custom icon color */
}

// .custom-add-button {
//     background-color: #ee3a09 !important; /* Custom background color */
//     color: #ffffff !important; /* Custom text color */
//     border-color: #00ccff !important; /* Custom border color */
// }

::ng-deep .p-button {
    color: #f2f4f6 !important;
    font-weight: 700;
    background-color: var(--red-600);
  }


.add-new-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}