$side-bar-width: 170px;
$nav-bar-height: 55px;

.container{
    margin-top: 0px;
    width: 100%;
}

.large-font {
    font-size: 14px; /* Adjust the font size as needed */
}


.custom-search-button {
    background-color: #e14e4e; /* Custom background color */
    color: #ffffff; /* Custom text color */
}

.custom-search-button .pi-search {
    color: #ffffff; /* Custom icon color */
}

// .custom-add-button {
//     background-color: #ee3a09 !important; /* Custom background color */
//     color: #ffffff !important; /* Custom text color */
//     border-color: #00ccff !important; /* Custom border color */
// }

::ng-deep .p-button {
    color: #f2f4f6 !important;
    font-weight: 700;
    background-color: #892d2d;
  }