<div class="flex flex-column">
    <app-navbar></app-navbar>
    <div class="flex flex-row">
        <app-sidebar></app-sidebar>
        <div class="flex flex-column mx-6 mt-3 w-screen">
            <div class="flex flex-row flex-wrap w-full">
                <div>
                    <h2>Recuruitment</h2>
                    <p class="opacity-70 -mt-3">Here is all job list</p>
                </div>
                <div class="ml-auto mt-4 flex flex-row items-center">
                    <div class="p-inputgroup mr-4 z-5" style="height: 45px;">
                        <input type="text" pInputText placeholder="Search by Job Title" class="large-font"/>
                        <button type="button" pButton icon="pi pi-search" class="custom-search-button"></button>
                    </div>
                    <div class="w-9">
                        <p-button label="+ Add New" severity="warning"></p-button>
                    </div>
                </div>
            </div>
            <div>
                <h1>lkj</h1>
            </div>
        </div>
    </div>
</div>
