.decrement-button {
    background-color: #d1d5db;
    border-color: #d1d5db;    
    color: white;              
}

.increment-button {
    background-color: #d1d5db; 
    border-color: #d1d5db;     
    color: white;             
}

/*  Add hover effects */
.decrement-button:hover {
    background-color: #6b7280; 
    border-color: #6b7280;
}

.increment-button:hover {
    background-color: #6b7280; 
    border-color: #6b7280;
}