.w-full{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.card {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }

  
  .input-field {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .slider {
    width: 50%;
    margin: 0 auto;
    marging-top: 0.1rem;
  }
  
  .save-button {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 0.5rem;
  }

  
  .p-dropdown {
    width: 100%;
    margin-bottom: 0.1rem;
  }
  
//   .p-grid {
//     padding: 1rem;
//   }

