<div class="p-grid p-justify-center">
   <div class="p-col-12 p-md-9" >
    <div class="flex flex-row">
        <h2>1 st interview Marks</h2>
        <div class="flex-grow-1" *ngIf="isMarkSaved">
            <p-card [style]="{'background-color':'var(--green-200)', 
                            'height':'50%', 
                            'width': '80%',
                            'margin-left'  : 'auto'}">
                <div class="-mt-5">
                    <i class="fa-regular fa-circle-check" style="color: #1da750; margin-right : 5px"></i>
                    Mark Saved successfully
                </div>
            </p-card>
        </div>
    </div>
    <div class="card flex justify-content-center">
        <p-dropdown 
            [options]="criteria_value" 
            [(ngModel)]="mark" 
            optionLabel="criteria"
            placeholder="Select Interview Criteria"
            optionDisabled="inactive"
            />

    </div>
        <div  class="card flex flex-column align-items-center" >
            <input type="text" pInputText [(ngModel)]="value" class="w- mb-2"/>
            <p-slider [(ngModel)]="value" class="w-full" /><br>

            <button 
            pButton 
            pRipple 
            label="Save" 
            class="p-button-success" rounded="true"
            (click)="savevalue()"></button>
       
        </div>
<!-- 
        <app-pie-chart></app-pie-chart> -->

        







        
  