<!-- <nav id="sidebarMenu" class="p-col-12 p-md-3 p-lg-2 p-m-0 p-pt-3"> -->
<nav id="sidebarMenu" class="p-col-12 p-md-3 p-lg-2 p-m-0 p-pt-4">
  <div class="position-sticky pt-5">
    <ul>
      <li>
        <a aria-current="page" href="#">
          <i class="pi pi-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="pi pi-file"></i>
          <span>CVs</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="pi pi-briefcase"></i>
          <span>Interviews</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
