#sidebarMenu {
    .position-sticky {
    //   padding-top: 1rem;
    background-color: rgb(218, 205, 205);
    height: 100vh;
    width: 170px;
  
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
  
          a {
            display: flex;
            align-items: center;
            text-decoration: none;
            padding: 0.5rem 1rem;
            color: #000;
  
            &.active {
              background-color: #dab7b7;  /// check
            }
  
            &:hover {
              background-color: #dab7b7;
            //   height: 100%;
              width: 100%;
              display: flex;
            flex-direction: column;
            align-items: center;
              
            }

            .icon-text-container {
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem;
            }
  
            i {
              margin-right: 0.8rem;
            }
          }
        }
      }
    }
  }
  

// #sidebarMenu {
//     background-color: rgb(218, 205, 205);
//     .position-sticky {
//       padding-top: 1rem;
  
//     //   ul {
//     //     list-style-type: none;
//     //     padding: 0;
//     //     margin: 0;
  
//         li {
//           margin-bottom: 0.5rem;
//         }
//       }
//     }
// //   }

//     .ul {
//         list-style-type: none;
//         padding: 0;
//         margin: 0;
//   }

//   .i {
//     margin-right: 0.5rem;
//   }

//   .a {
//     display: flex;
//     align-items: center;
//     text-decoration: none;
//     padding: 0.5rem 1rem;
//     color: #000;

//     &.active {
//       background-color: #e0e0e0;
//     }

//     &:hover {
//       background-color: #f0f0f0;
//     }
//   }


  
// .selection{
//     @include styleclass('p-ripple p-d-flex p-ai-center');
// }


