<div class="flex flex-column ">
    <app-navbar></app-navbar>
    <div class="flex flex-row ">
        <div class="min-h-full">
            <app-sidebar></app-sidebar>
        </div>
        <div class="grid m-0">
            <div class="col-3 min-h-full">
                <!-- notification popup -->
                <div class="floating-card-container" *ngIf = "isSelected">    
                    <p-card [style]="{'background-color':'var(--green-200)', 
                                    'height':'65px', 
                                    'width': '110%'}">
                        <div class="-mt-3">
                            <!-- <i class="fa-regular fa-circle-check" style="color: #1da750; margin-right : 5px"></i> -->
                            Candidate is selected to the next interview.
                        </div>
                    </p-card>     
                </div>
                <div class="floating-card-container" *ngIf = "isRejected">    
                    <p-card [style]="{'background-color':'var(--red-400)',
                                    'color': 'white', 
                                    'height':'65px', 
                                    'width': '130%'}">
                        <div class="-mt-3">
                            Candidate is rejected.
                        </div>
                    </p-card>     
                </div>

                <p-card styleClass="custom-card mt-3" *ngIf="isloaded">
                    <div class="flex -mt-2">
                        <i class="fa-brands fa-linkedin fa-2xl" style="color: #0562a8;"></i>
                        <i class="fa-brands fa-square-github fa-2xl ml-3" style="color: #000000;"></i>
                        <i class="fa-solid fa-link fa-xl ml-3" style="color: #000000;"></i>
                    </div>
                    <p-divider />
                    <div class="name">
                        <h1 class="text-center">{{candidate.name}}</h1>
                    </div>
                    <div>
                        <h3 class="text-center opacity-reduce position -mt-3">Software Engineering Intern candidate</h3>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-3">
                            <i class="fa-solid fa-envelope fa-xl" style="color: #000000;"></i>
                            <a href="" class="ml-2">{{candidate.email}}</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-3">
                            <i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i>
                            <span class="ml-2">{{candidate.contact}}</span>
                        </div>
                    </div>
                    <p-divider />
                    <div class="grid">
                        <div class="col-12">
                            <h3 class="-mt-1">Skills</h3>
                            <div class="opacity-reduce">
                                {{candidate.skills}}
                            </div>
                        </div>
                    </div>
                    <p-divider />
                    <div class="grid">
                        <div class="col-6">
                            <h5 class="-mt-2">Highest Education</h5>
                            <div class="opacity-reduce -mt-2">
                                {{candidate.degree}}
                            </div>
                        </div>
                        <div class="col-6">
                            <h5 class="-mt-2">Available Date</h5>
                            <div class="opacity-reduce -mt-2">
                                {{candidate.available_Date | slice:0:10}}
                            </div>
                        </div>
                    </div>
                    <div class="grid mt-1">
                        <div class="col-6">
                            <p-button label="Call Next Interview" severity="success" [rounded]="false" (onClick)="updateRoleId(candidate.id, candidate.role_Id+1)"/>                            
                        </div>
                        <div class="col-6">
                            <p-button label="Reject" severity="danger" [rounded]="false" (onClick)="updateRoleId(candidate.id, 7)" [disabled]="candidate.role_Id === 7"/>
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-6" *ngIf="isloaded">
                <app-sliders [candidate] = "candidate"></app-sliders>    
            </div>
            <div class="col-3">
                <app-pie-chart></app-pie-chart>
            </div>
            <!-- <div class="col-6 half height">
                <app-pie-chart></app-pie-chart>
            </div> -->
        </div>
    </div>
</div>



<!-- https://www.behance.net/gallery/181759867/Candidate-profile-screen/modules/1026735177 -->