<div class="flex flex-column ">
    <app-navbar></app-navbar>
    <div class="flex flex-row ">
        <app-sidebar></app-sidebar>
        <div class="w-full flex">
            <div class="col-3 min-h-full">
                <p-card styleClass="custom-card mt-3 h-full" *ngIf="isloaded">
                    <div class="flex -mt-2">
                        <i class="fa-brands fa-linkedin fa-2xl" style="color: #0562a8;"></i>
                        <i class="fa-brands fa-square-github fa-2xl ml-3" style="color: #000000;"></i>
                        <i class="fa-brands fa-instagram fa-2xl ml-3" style="color: #b30f48;"></i>
                        <i class="fa-solid fa-link fa-xl ml-3" style="color: #000000;"></i>
                    </div>
                    <p-divider />
                    <div class="name">
                        <h1 class="text-center">{{candidate.name}}</h1>
                    </div>
                    <div>
                        <h3 class="text-center opacity-reduce position -mt-3">Software Engineering Intern candidate</h3>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-3">
                            <i class="fa-solid fa-envelope fa-xl" style="color: #000000;"></i>
                            <a href="" class="ml-2">{{candidate.email}}</a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12 mb-3">
                            <i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i>
                            <span class="ml-2">{{candidate.contact}}</span>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12">
                            <i class="fa-solid fa-house fa-xl" style="color: #000000;"></i>
                            <span class="ml-2">san fransis</span>
                        </div>
                    </div>
                    <p-divider />
                    <div class="grid">
                        <div class="col-12">
                            <h3 class="-mt-1">Skills</h3>
                            <div class="opacity-reduce">
                                {{candidate.skills}}
                            </div>
                        </div>
                    </div>
                    <p-divider />
                    <div class="grid">
                        <div class="col-6">
                            <h5 class="-mt-2">Highest Education</h5>
                            <div class="opacity-reduce -mt-2">
                                {{candidate.degree}}
                            </div>
                        </div>
                        <div class="col-6">
                            <h5 class="-mt-2">Available Date</h5>
                            <div class="opacity-reduce -mt-2">
                                {{candidate.available_Date}}
                            </div>
                        </div>
                    </div>
                    <div class="grid mt-1">
                        <div class="col-6">
                            <p-button label="SELECT" severity="success" [rounded]="true" />
                        </div>
                        <div class="col-6">
                            <p-button label="DELETE" severity="danger" [rounded]="true" />
                        </div>
                    </div>
                </p-card>
            </div>
            <div class="col-6">
                <app-sliders></app-sliders>
                <app-pie-chart></app-pie-chart>
            </div>
            <div class="col-3">
                <app-comments></app-comments>
            </div>
            <!-- <div class="col-6 half height">
                <app-pie-chart></app-pie-chart>
            </div> -->
        </div>
    </div>
</div>



<!-- https://www.behance.net/gallery/181759867/Candidate-profile-screen/modules/1026735177 -->